@using Sandbox;
@inherits PanelComponent

@namespace Sandbox.UI

<root class="ai-menu">
	<div class="side-panel">
		@foreach (var item in Conversations)
		{
			<div class="conversation" @onclick=@(() => SelectConversation(item)) >
				@item
			</div>
		}
	</div>
	<div class="main-panel">
		
	</div>
</root>
