@using System;
@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
    <div class="container-right">
        <div class="logo">
            <svg class="img" src="materials/logoe.svg"></svg>
        </div>
        <div class="container-btn">
            <div class="btn btn-continue" @onclick="@Continue">
                <span class="text">Continue</span>
            </div>
            @* <div class="btn btn-newgame" @onclick="() => Game.StartGame()"> *@
            @*     <span class="text">New Game</span> *@
            @* </div> *@
            @* <div class="btn btn-loadgame" @onclick="() => Game.StartGame()"> *@
            @*     <span class="text">Load Game</span> *@
            @* </div> *@
            @* <div class="btn btn-options" @onclick="() => Game.ShowOptions()"> *@
            @*     <span class="text">Options</span> *@
            @* </div> *@
            @* <div class="btn btn-quit" @onclick="() => Game.QuitGame()"> *@
            @*     <span class="text">Quit</span> *@
            @* </div> *@
        </div>
    </div>
</root>

@code
{
    public void Continue()
    {
        Scene.LoadFromFile("scenes/loading.scene");
    }

	protected override int BuildHash() => System.HashCode.Combine( Time.Now );
}
